[package]
name = "paladin-rewards-program"
version = "0.0.1"
description = "Paladin Rewards Program"
readme = "../README.md"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
bytemuck = "1.16.0"
shank = "0.4.2"
solana-program = "2.0.2"
spl-associated-token-account = { version = "4.0.0", features = ["no-entrypoint"] }
spl-program-error = "0.5.0"
spl-tlv-account-resolution = "0.7.0"
spl-token-2022 = { version = "4.0.0", features = ["no-entrypoint"] }
spl-transfer-hook-interface = "0.7.0"

[dev-dependencies]
solana-program-test = "2.0.2"
solana-sdk = "2.0.2"
spl-pod = "0.3.0"
spl-type-length-value = "0.5.0"
test-case = "3.3.1"

[features]
bpf-entrypoint = []
test-sbf = []

[package.metadata.solana]
program-id = "JCnD24HEFP4uHdciqHWrD5LKeTBWCENQb6H3GJxqNSEZ"
